#global-navi {
    background: #333;
    /* position: fixed; */
    top: 0;
    right: 0px;
    width: 100%;
}

#wrapper nav ul li {
    display: inline-block;
    font-size: 16px;
    padding: 30px 20px 25px 28px;
}

#wrapper nav ul li a {
    color: #dddddd;
}

.content {
    line-height: 1.6;
    margin: 0 auto;
    padding-top: 100px;
    width: 800px;
}

.content p {
    margin-bottom: 40px;
}

.box-img,
.box-text {
    display: inline-block;
}