@charset 'utf-8';

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td, img {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	height: 100%;
}

body {
	font-size: 75%;
	line-height: 2;
	background: #fff;
	font-family: 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro';
	color: #333;
}

ol, ul {
	list-style: none;
}

a {
	color: #333;
}

a:hover {
	text-decoration: none;
}

.color1 {
	color: #990000;
}

.top_wrapper {
	float: right;
	width: 100%;
	height: 100%;
}

.top_content {
	margin-left: 200px;
	height: 100%;
}

.wrapper {
	width: 100%;
	margin: auto;
}

.main {
	width: 100%;
	float: left;
	margin-right: -340px;
}

.content {
	width: 100%;
	float: right;
	margin-left: -200px;
}

.content_inner {
	margin: 140px 340px 50px 200px;
}

footer {
	clear: both;
}

header {
	position: fixed;
	top: 0;
	left: 200px;
	right: 340px;
	height: 100px;
	background: #fff;
	z-index: 1000;
}

h1 {
	position: fixed;
	top: 100px;
	left: 0;
	font-family: 'Amatic SC', cursive;
	font-size: 4em;
	line-height: 40px;
	text-align: center;
	padding: 10px;
	width: 200px;
}

h1 a {
	color: #8b0000;
	text-decoration: none;
}

h1 a:hover {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	opacity: 0.6;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
}

header h2 {
	font-size: 4em;
	font-weight: normal;
	font-family: 'Norican', cursive;
	text-align: center;
}

.top_section {
	margin: 200px auto 0;
	width: 60%;
}

.top_h2 img {
	width: 100%;
}

article {
	width: 100%;
}

article h3 {
	font-size: 2em;
	font-weight: normal;
	margin-bottom: 10px;
}

article li, p {
	font-size: 1.5em;
}

section {
	margin: 0 auto;
	width: 60%;
}

.copyright {
	font-size: 0.9em;
	line-height: 15px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: 180px;
}

.search {
	width: 300px;
	position: fixed;
	top: 20px;
	right: 20px;
}

.search input[type="text"] {
	width: 80%;
	padding: 8px !important;
	font-size: 1.5em;
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	font-weight: bold;
	border-top: 1px solid #a5a5a5;
	border-left: 1px solid #a5a5a5;
	border-bottom: 1px solid #a5a5a5;
	border-right: none !important;
}

.search button {
	width: 20%;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #fff), color-stop(1.00, #cecece));
	background: -webkit-linear-gradient(#fff, #cecece);
	background: -moz-linear-gradient(#fff, #cecece);
	background: -o-linear-gradient(#fff, #cecece);
	background: -ms-linear-gradient(#fff, #cecece);
	background: linear-gradient(#fff, #cecece);
	border: 1px solid #a5a5a5;
	padding: 7px;
	color: #666;
	font-size: 1.5em;
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	cursor: pointer;
}

.search button:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
 -o-transition: 0.s;
	transition: 0.5s;
}

.right_content {
	position: fixed;
	top: 120px;
	right: 20px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #f3ce00), color-stop(1.00, #ff7800));
	background: -webkit-linear-gradient(#f3ce00, #ff7800);
	background: -moz-linear-gradient(#f3ce00, #ff7800);
	background: -o-linear-gradient(#f3ce00, #ff7800);
	background: -ms-linear-gradient(#f3ce00, #ff7800);
	background: linear-gradient(#f3ce00, #ff7800);
	width: 300px;
	height: 250px;
}

.pagetop:hover {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	color: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
}

@media screen and (max-width: 768px) {

h3, p, ol, li, th, td, dl {
	font-size: 1.2em !important;
}

.top_wrapper {
	padding-top: 50px;
}

.top_content {
	margin-left: 0;
}

h1 {
	position: fixed;
	top: 5px;
	left: 50px;
	font-size: 2.5em;
	width: auto;
	padding: 0;
}

header {
	position: fixed;
	top: 90px;
	left: 0;
	right: 0;
	height: 50px;
}

.mov_header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 1000;
	background: #fff;
}

.mov_header2 {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 2000;
	background: #fff;
}

header h2 {
	font-size: 2.5em;
}

.content {
	width: 100%;
	float: none;
	margin: 120px 0 20px;
}

.content_inner {
	margin: 0;
}

article h3 {
	font-size: 1.5em;
}

.top_section {
	margin: 100px auto 0;
	width: 80%;
}

section {
	width: 90%;
}

form {
	width: 100%;
}

.search {
	position: fixed;
	top: 50px;
	left: 5%;
	width: 90%;
}

.search input[type="text"] {
	padding: 10px !important;
	width: 85%;
	font-size: 1.2em;
	font-weight: normal;
}

.search button {
	width: 15%;
	padding: 10px;
	font-size: 1.2em;
}

.right_content {
	clear: both;
	position: static;
	margin: 20px auto;
}

.copyright {
	opacity: 0.3;
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
}
}

@media screen and (min-width: 787px) and (max-width: 1200px) {

section {
	width: 90%;
}
}
